/*
 * {{ ansible_managed }}
 */

{% if mysql_users is defined %}
{% for user in mysql_users %}
GRANT ALL ON {{ user.database }}.* TO '{{ user.username }}'@'%' IDENTIFIED BY '{{ user.password }}';
GRANT ALL ON {{ user.database }}.* TO '{{ user.username }}'@'localhost' IDENTIFIED BY '{{ user.password }}';
{% endfor %}
{% endif %}
